body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: sans-serif;
}
h2{
    text-align: center;
}
h3{
    margin-left: 10px;
}
.setup{
    margin-left: 10px;
}
.look{
    margin: 10px 0;
    padding: 8px;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 22%;
}
.size{
    margin: 10px 0;
    padding: 8px;
    width: 7%;
    font-family: Arial, Helvetica, sans-serif;
}
.upper{
    margin: 10px;
    padding: 8px;
    width: 5%;
    background-color: #6d6675;
    margin-left: 10px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.upper:hover{
    background-color: chocolate;/*fundo*/
    transition: .6s;
    color: white; /*texto*/  

}
textarea{
    width: 1200px;
    height: 350px;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=reset]{
    margin: 10px;
    padding: 8px;
    width: 10%;
    background-color: #6d6675;
    margin-left: 600px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.normal{
    margin: 10px;
    padding: 8px;
    width: 10%;
    background-color: #ac7713;
    margin-left: 10px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}